// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

        
html body {
    background: url(../../../resouces/assets/images/background.jpg) no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }